@tailwind base;

@layer base {
  body {
    @apply bg-stone-900;
    @apply text-stone-700;
  }

  h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  h4 {
    @apply text-base;
    @apply font-bold;
  }
  input:not([type="range"]) {
    @apply border;
    @apply border-stone-300;
    @apply rounded-md;
    @apply p-2;
    @apply mb-3;
    @apply focus:outline-none;
    @apply focus:border-amber-700;
    @apply bg-amber-50;
  }
  textarea {
    @apply border;
    @apply border-stone-300;
    @apply rounded-md;
    @apply p-2;
    @apply mb-3;
    @apply focus:outline-none;
    @apply focus:border-amber-700;
    @apply bg-amber-50;
  }

  button {
    @apply bg-amber-600;
    @apply text-white;
    @apply font-bold;
    @apply py-2;
    @apply px-4;
    @apply rounded-md;
    @apply transition-colors;
    @apply duration-300;
    @apply ease-in-out;
    @apply hover:bg-amber-800;
  }
  a {
    @apply font-bold;
    @apply hover:text-amber-700;
    @apply transition-colors;
    @apply duration-300;
    @apply ease-in-out;
  }
  a:not(.nav-link) {
    @apply font-bold;
    @apply p-2;
    @apply rounded-md;
    @apply hover:text-amber-500;
    @apply hover:underline;
    @apply hover:underline-offset-4;
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
    @apply hover:drop-shadow-[0px_5px_25px_rgba(255,255,255,0.9)];
  }

  select {
    @apply border-2;
    @apply border-stone-300;
    @apply rounded-md;
    @apply p-2;
    @apply focus:outline-none;
    @apply focus:border-amber-700;
  }
}

@tailwind components;

@layer components {
  .container {
    @apply bg-stone-900;
    @apply mx-auto;
    @apply border;
    @apply border-t-0;
    @apply border-b-0;
    @apply border-s-stone-800;
    @apply border-e-stone-800;
  }
  .btn {
    @apply bg-transparent;
    @apply border-amber-600;
    @apply border;
    @apply border-solid;
    @apply text-stone-900;
    @apply hover:text-stone-50;
    @apply transition-colors;
    @apply duration-300;
    @apply ease-in-out;
  }

  .btn-submit {
    @apply bg-amber-700;
    @apply text-stone-50;
    @apply font-bold;
    @apply py-2;
    @apply px-4;
    @apply border;
    @apply border-amber-600;
    @apply rounded-md;
    @apply transition-colors;
    @apply duration-300;
    @apply ease-in-out;
    @apply hover:bg-amber-700;
  }

  .nav-link {
    @apply border;
    @apply border-amber-600;
    @apply rounded-md;
    @apply py-2;
    @apply px-4;
    @apply font-bold;
    @apply text-base;
    @apply no-underline;
    @apply text-stone-700;
    @apply hover:bg-amber-700;
    @apply hover:text-stone-50;
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
  }
}

@tailwind utilities;

body {
  height: 100dvb;
  width: 100dvi;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navSelect {
  border: none;
  background: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.navSelect .navSelectOption {
  font-weight: bold;
  cursor: pointer;
}

.navSelect .navSelectOption div:hover,
.navSelect .navSelectOption.active {
  background-color: #f59e0b;
}

.card-body * ul {
}

#hero-logo {
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.skill-logo {
  height: 100%;
  max-height: 4rem;
  width: auto;
  margin: 0 1rem;
}

.timeline ul li {
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.timeline ul li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(245, 158, 11);
  border-radius: 50%;
  top: 28px;
  left: -0.65rem;
}

.timeline ul li:hover {
  background-color: #1c1917;
  border-radius: 0.25rem;
}

.timeline ul li:hover::before {
  background-color: rgb(245, 158, 11);
  box-shadow: 0 0 10px 2px rgb(245, 158, 11);
}

#close-button {
  background-color: transparent;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  padding: 0.25rem;
  margin-left: auto;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

#close-button svg {
  fill: #1c1917;
}

#close-button:hover {
  border: 2px solid #f59e0b;
  transition: border-color 0.3s ease-in-out;
}

input:not([type="range"]) {
  margin-bottom: 0;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border-color: red;
  border-width: 2px;
}
