@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  h4 {
    @apply text-base;
    @apply font-bold;
  }
  input {
    @apply border-2;
    @apply border-gray-300;
    @apply rounded-md;
    @apply p-2;
    @apply focus:outline-none;
    @apply focus:border-amber-500;
  }
  button {
    @apply bg-amber-500;
    @apply text-white;
    @apply font-bold;
    @apply p-2;
    @apply rounded-md;
    @apply transition-colors;
    @apply duration-300;
    @apply ease-in-out;
    @apply hover:bg-amber-700;
  }
  a.button {
    @apply bg-amber-500;
    @apply text-white;
    @apply font-bold;
    @apply p-2;
    @apply rounded-md;
    @apply transition-colors;
    @apply duration-300;
    @apply ease-in-out;
    @apply hover:bg-amber-700;
  }
  select {
    @apply border-2;
    @apply border-gray-300;
    @apply rounded-md;
    @apply p-2;
    @apply focus:outline-none;
    @apply focus:border-amber-500;
  }
}

@tailwind components;

@layer components {
  .container {
    @apply bg-stone-100;
    @apply mx-auto;
  }
  .nav-link {
    @apply font-bold;
    @apply text-lg;
    @apply no-underline;
    @apply text-stone-800;
    @apply hover:text-amber-800;
    @apply transition-colors;
    @apply duration-300;
    @apply ease-in-out;
  }
  .btn-submit {
    @apply border-amber-700;
    @apply border;
    @apply border-solid;
    @apply text-stone-900;
    @apply hover:text-white;
    @apply transition-colors;
    @apply duration-300;
    @apply ease-in-out;
  }
}

@tailwind utilities;

body {
  height: 100dvh;
  width: 100dvw;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  line-height: 1.5;

  color-scheme: light dark;
  color: #1c1917;
  background-color: #1c1917;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="search"] {
  width: 100%;
  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.75rem;
  background-size: 1rem;
  position: relative;
}

input[type="search"].loading {
  background-image: none;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navSelect {
  border: none;
  background: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.navSelect .navSelectOption {
  font-weight: bold;
  cursor: pointer;
}

.navSelect .navSelectOption div:hover,
.navSelect .navSelectOption.active {
  background-color: #f59e0b;
}
